---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.giorgio.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.giorgio.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.giorgio.author %}
        <div class="author-container"><h1>{{ site.giorgio.author }}</h1></div>
        {% endif %}

        {% if site.giorgio.tagline %}
        <div class="tagline-container"><p>{{ site.giorgio.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
      {% if site.giorgio.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      <div class="content">
        {% include publications.html %}
      </div>
      {% endif %}
    </main>
</div>
