<h2>Hi,</h2>
<p>I am a CS student with an interest in keeping computer systems relatively secure, and, occasionally, making them learn stuff.</p>



<p>If you want to speak with me please send me an email, or find me at the links below.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a target='_blank' href="https://github.com/ClonedOne">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a target='_blank' href="https://www.linkedin.com/in/giorgioseveri/">Linkedin</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a target='_blank' href="https://twitter.com/cloned_tweets">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="#">severi giorgio@gmail com :s/ /./g</a>
  </li>
</ul>

