<!DOCTYPE html>
<meta charset="utf-8">

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.js"></script>

<svg></svg>

<script>

// GLOBALS

var data = [];

var width = 700;
var height = 600;

var margin = {
  top: 50,
  left: 50,
  right: 50,
  bottom: 50
};

var legendLabels = ['0-100', '101-1000', '1000-5000', '5000-10000', '>10000' ];
var intervals = [101, 1001, 5001,10001];
var colorRange = d3.schemeRdPu[5];


// COLORMAP

var colorMap = d3.scaleThreshold()
    .domain(intervals)
    .range(colorRange);


// SVG SETUP

var svg = d3.select("body")
	.append("svg")
	.attr("width", width)
	.attr("height", height);


// AXIS SETUP

var xScale = d3.scaleLinear()
	.domain([79, 101])
	.rangeRound([margin.left, width - margin.right])

var yScale = d3.scaleLinear()
	.domain([0, 500])
	.range([height - margin.bottom, margin.top]);

var rScale = d3.scaleLog()
    .base(Math.E)
    .domain([1, 2000])
    .range([1, 15]);

var xAxis = svg.append("g")
	.attr("transform", `translate(0, ${height - margin.bottom})`)
	.call(d3.axisBottom().scale(xScale));

var yAxis = svg.append("g")
	.attr("transform", `translate(${margin.left}, 0)`)
	.call(d3.axisLeft().scale(yScale));


// TOOLTIP FUNCTIONS

var Tooltip = d3.select("body")
	.append("div")
		.style("width", 200)
		.style("position", "absolute")			
		.style("text-align", "center")
		.style("opacity", 0)
		.style("background-color", "white")
		.style("border", "solid")
	    .style("border-color", colorRange[4])
		.style("border-width", "2px")
		.style("border-radius", "5px")
		.style("padding", "2px");


var mouseover = function(d) {
	Tooltip
		.html(
			"Review score: " + d[0] +
			"<br>Average price: " +  
			parseFloat(Math.round(d[1] * 100) / 100).toFixed(2) +
			"<br>Number of wines: " + d[2]
		)
		.style("left", (d3.event.pageX + 10) + "px")		
		.style("top", (d3.event.pageY + 10) + "px")
		.style("opacity", 1);

	d3.select(this)
	    .style("stroke", "black")
		.style("opacity", 1);
};

var mousemove = function(d) {
	Tooltip
		.style("left", (d3.event.pageX + 10) + "px")		
		.style("top", (d3.event.pageY + 10) + "px");
};

var mouseleave = function(d) {
	Tooltip
		.style("opacity", 0);

	d3.select(this)
		.style("stroke", "none")
		.style("opacity", 0.8);
};


// LEGEND

var g = svg.append("g")
    .attr("class", "legendThreshold")
    .attr("transform", "translate(80,60)");

var legend = d3.legendColor()
    .labels(function (d) { return legendLabels[d.i]; })
    .shapePadding(4)
    .scale(colorMap);

svg.select(".legendThreshold")
    .call(legend);


// LOADING DATA

d3.queue()
    .defer(
        d3.csv, 
        "https://raw.githubusercontent.com/ClonedOne/exp_nbs/master/res/score_price_wine_data.csv",
        function(d) { data.push([d.score, +d.price, +d.count]); }
    )
    .await(ready);


// PLOTTING

function ready(error) {
	if (error) throw error;

	console.log(data)
	var circles = svg.selectAll('circle')
		.data(data)
		.enter()
			.append('circle')
      		.attr('cx', function (d) { return xScale(d[0]) })
      		.attr('cy', function (d) { return yScale(d[1]) })
      		.attr('r', function (d) { return rScale(d[2]) })
      		.attr('fill', function (d) { return colorMap(d[2]) })
			.style("opacity", 0.8)
      		.on("mouseover", mouseover)
			.on("mousemove", mousemove)
			.on("mouseleave", mouseleave);
}



// AXIS LABELS

svg.append("text")
    .attr("text-anchor", "end")
    .attr("x", width/2 + margin.left)
    .attr("y", height - 6)
    .text("Review score");

svg.append("text")
    .attr("text-anchor", "end")
	.attr("transform", "translate("+ 15 +","+(height/2 - margin.bottom)+")rotate(-90)") 
    .text("Average Price");



// TITLE

svg.append("text")
    .attr("x", (width / 2))
    .attr("y", 30)
    .style("fill", "#585858")
    .attr("text-anchor", "middle")
    .style("font-size", "16px")
    .style("font-weight", "bold")
    .style("font-family", "sans-serif")
    .text("Average Price vs. Review Score with sample size");


</script>
